@model List<Practicamvc.Models.Datospersona>

@{
    ViewData["Title"] = "Nuevo usuario";
}

<h1 style="color: brown;">Nuevo usuario</h1>

<p>
    <a asp-action="Create">Crear usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
                @*Html.DisplayNameFor(model => model.Nombre)*@
            </th>
            <th>
                Cédula
                @*Html.DisplayNameFor(model => model.Cedula)*@
            </th>
            <th>
                Ciudad
                @*Html.DisplayNameFor(model => model.Ciudad)*@
            </th>
            <th>
                Dirección
                @*Html.DisplayNameFor(model => model.Dirección)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Datospersona item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
